langchain-community==0.0.17
langchain==0.1.5
sentence-transformers==2.3.1
pydantic==1.10.2
gunicorn==20.1.0
prometheus-fastapi-instrumentator==6.1.0
uvicorn==0.23.2
fastapi
openai==1.14.0
tqdm==4.66.1
chromadb==0.4.9
python-multipart